.BackD{
    height: 41rem;
    width: 93rem;
    border: 1px solid black;
    position: absolute;
    top: 0;    
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.6);
    margin-top: 5.2rem;
    
}
.CardD{
    height: 26rem;
    width: 20rem;
    z-index: 1;
    background-color: white;
    text-align: center;
}
.CardD input{
    margin-top: 3rem;

}